<div class="ui inverted segment menu dark">
    <div class="item">
        <a href="">Roster Evo</a>
    </div>
    <div class="ui inverted secondary menu right spaced">
        <a class="active item">Actualité</a>
        <a class="item">Liste jeux</a>
        <a class="item">Recrutement</a>
    </div>
    <div class="right menu">
        <div class="item">
            <i class="search link icon"></i>
        </div>
        <a class="item"><i class="user icon"></i></a>
    </div>
</div>
