@import "variables";
@import "login";
@import "register";
@import "~fomantic-ui/dist/semantic.css";

body {
    background-color: #e6dddd73!important;
}

// Navbar
.ui.segment {
     border-radius: 0!important;
     background: $dark!important;
 }

// Bouton de connexion icon User
.right.menu > .item > i.icon {
  margin: 0!important;
}

.t-align-c {
  text-align: center;
}